/EvenNumFromArr.class
/ReverseArray1.class
/ReverseArray2.class
/ReverseArray3.class
/EvenOddFromArray.class
/SumOfArrayElement.class
/AlternativeValuesArray.class
/FirstLastAlternative.class
/HalfReversedArray1.class
/HalfReversedArray2.class
/LRrotateArray1.class
/LeftRotateArray.class
/RightRotateArray.class
/LRrotateArray.class
/LRrotateArray2.class
/PrimeArray.class
/LRrotateArray3.class
/EvenElementsArray.class
/PrimeElementsArray.class
