/FreqOfWords.class
/AnagramString.class
/MaxLenWord.class
/PasswordValidation.class
/MaxRepeatedSubsequence.class
/AnagramSentence.class
/RemoveDuplicateWords.class
/ReplaceWords.class
/ReplaceChar.class
/CharCaseChange.class
/IPValidation.class
/PanagramString.class
/SumOfDigits.class
/AsteroidProgram.class
