/ExtractChars.class
/StringToCharArray.class
/CharArrayToString.class
/SortChars.class
/PalindromeString.class
/MirrorImageString.class
/ReverseString.class
/ToUpperCase.class
/ToLowerCase.class
/ReplaceChar.class
/SplitToWords.class
/ReverseSentence.class
/AnagramString.class
